		.but{
			width: 100%;
			border: solid;
			font-family: sans-serif;
			font-size: 50px;
			padding-top: 15px;
			background-color:#F2C4CE;
			color: #262B30;
		}
		.dispaly{
			height: 15vh;
			margin-top:100px;
			background-color:#BADFE7;
		}
		.equal{
			height: 12vh;
		}
		html,body{
			/*background-image: linear-gradient( red, yellow);;*/
		}
		.calc{
			max-height: 70vh;
			max-width: 30%;
		}